.header {
  border-top: 5px solid #333695;
  box-shadow: 0 6px 2px -2px #e7e7e7;
  font-family: "Noto Sans", sans-serif;
  background: #fff;
  padding: 14px 50px; }
  .header__content {
    margin: 0 auto;
    position: relative;
    max-width: 1400px; }
  .header__branding {
    display: flex;
    align-items: center; }
  .header__title {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    border-left: 2px solid #ddd;
    padding: 10px 0 10px 17px;
    margin: 0 0 0 17px; 
    flex-grow: 1;
  }
  .header__nav {
    list-style: none;
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0; }
    .header__navitem {
      float: left;
      margin-right: 20px; }
      .header__navitem:last-child {
        margin-right: 0px; }
    .header__navlink {
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: bold;
      text-decoration: none;
      color: #000000; }
