<div class="test-runner-layout">
    <div class="test-running-stats-wrapper">
        <div class="test-runner-button-wrapper">
            <button *ngIf="testRunningStatus=='stopped'" class="app-button" mat-raised-button color="primary" (click)="runTest()">Run Test</button>
            <div *ngIf="testRunningStatus=='starting'">
                Starting...
            </div>
            <button *ngIf="testRunningStatus=='running'" class="app-button" mat-raised-button color="primary" (click)="stopTest()">Stop Test</button>
            
            <div *ngIf="hasResultsToDownload">
                &nbsp;&nbsp;<a href="/master/metrics" class="results-button" mat-raised-button>Results</a>
            </div>
        </div>

        <div class="stat-tracker">
            <h2>{{runTime}} secs</h2>
            <p>Run Time</p>
        </div>

        <div class="stat-tracker">
            <h2>{{rowsIngested.toLocaleString(undefined,{maximumFractionDigits:0})}}</h2>
            <p>Records Inserted</p>
        </div>

        <div class="stat-tracker">
            <h2>{{rowsConsumed.toLocaleString(undefined,{maximumFractionDigits:0})}}</h2>
            <p>Records Queried</p>
        </div>

        <div class="stat-tracker"> 
            <h2>{{mbIngested.toLocaleString(undefined,{minimumFractionDigits:3, maximumFractionDigits:3})}}</h2>
            <p>MB Inserted</p>
        </div>

        <div class="stat-tracker"> 
            <h2>{{mbConsumed.toLocaleString(undefined,{minimumFractionDigits:3, maximumFractionDigits:3})}}</h2>
            <p>MB Queried</p>
        </div>
        <div class="stat-tracker"> 
            <h2>{{avgQueryTime.toLocaleString(undefined,{minimumFractionDigits:5, maximumFractionDigits:5})}}</h2>
            <p>Average Query Time in Ms</p>
        </div>
    </div>
    <div class="test-graph-wrapper">
        <div class="graph-wrapper">
            <ngx-charts-line-chart
            [scheme]="sharedGraphConfiguration.colorScheme"
            [results]="dataIngestRecords"
            [gradient]="sharedGraphConfiguration.gradient"
            [xAxis]="sharedGraphConfiguration.showXAxis"
            [yAxis]="sharedGraphConfiguration.showYAxis"
            [legend]="sharedGraphConfiguration.showLegend"
            [showXAxisLabel]="sharedGraphConfiguration.showXAxisLabel"
            [showYAxisLabel]="sharedGraphConfiguration.showYAxisLabel"
            [xAxisLabel]="sharedGraphConfiguration.xAxisLabel"
            yAxisLabel="Insert Rate Rec"
            [xScaleMin]="sharedGraphConfiguration.xScaleMin"
            [yScaleMin]="sharedGraphConfiguration.yScaleMin"
            (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </div>

        <div class="graph-wrapper">
            <ngx-charts-line-chart
            [scheme]="sharedGraphConfiguration.colorScheme"
            [results]="dataIngestMB"
            [gradient]="sharedGraphConfiguration.gradient"
            [xAxis]="sharedGraphConfiguration.showXAxis"
            [yAxis]="sharedGraphConfiguration.showYAxis"
            [legend]="sharedGraphConfiguration.showLegend"
            [showXAxisLabel]="sharedGraphConfiguration.showXAxisLabel"
            [showYAxisLabel]="sharedGraphConfiguration.showYAxisLabel"
            [xAxisLabel]="sharedGraphConfiguration.xAxisLabel"
            yAxisLabel="Insert Rate Mb"
            [xScaleMin]="sharedGraphConfiguration.xScaleMin"
            [yScaleMin]="sharedGraphConfiguration.yScaleMin"
            (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </div>

        <div class="graph-wrapper">
            <ngx-charts-line-chart
            [scheme]="sharedGraphConfiguration.colorScheme"
            [results]="dataConsumptionRecords"
            [gradient]="sharedGraphConfiguration.gradient"
            [xAxis]="sharedGraphConfiguration.showXAxis"
            [yAxis]="sharedGraphConfiguration.showYAxis"
            [legend]="sharedGraphConfiguration.showLegend"
            [showXAxisLabel]="sharedGraphConfiguration.showXAxisLabel"
            [showYAxisLabel]="sharedGraphConfiguration.showYAxisLabel"
            [xAxisLabel]="sharedGraphConfiguration.xAxisLabel"
            yAxisLabel="Query Rate Rec"
            [xScaleMin]="sharedGraphConfiguration.xScaleMin"
            [yScaleMin]="sharedGraphConfiguration.yScaleMin"
            (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </div>
    </div>
</div>